.designed-for-the-future h1{
    text-align: center;
    position: relative;
    top: 100px;
}

.container-content{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.container-content article{
    text-align: center;
    margin: auto; 
}

.container-content article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: initial;
}

.container-content article  section{
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
}

.container-content .img-illustrator-editor{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 4vw;

}

.container-content .img-illustrator-editor > img{
    position: relative;
    max-width: 100%;
    max-height: 700px;
    width: auto;
    height: auto;
    left: 9vw;
}

.container-content article  div p{
    margin-top: 2vw;
}

.container-content  section:first-child{
    display: flex;
    align-self: center;
}

.container-content article:nth-child(2)  {
    grid-template-rows: 300px;
}

.container-content article:nth-child(2)  section:first-child div{ 
    margin: 0 80px; 
}

.container-content article:nth-child(2)  section p,
.container-content article:nth-child(3)  section div p{
    width: 70%;
}

.container-content article:first-child section{
    display: flex;
    align-self: center;
}

.container-content article:first-child section:last-child{
    position: relative;
    top: -60px;
}

.container-content article:first-child  section:first-child div{
    width: 80%;
    align-self: flex-end;
}

.container-content article  section{
    display: flex;
    flex-direction: column;
}

.container-content article:nth-child(2){
    border-radius: 0px 70px 0px 0px;
    background-color: hsl(237, 23%, 32%);
    background-image: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 800px; 
    background-position: left bottom;
}

.container-content article:nth-child(2) section{
    display: flex;
    align-self: center;
    color: var(--white);
    padding: 20px;
}

.container-content .illustration-phones{
    width: 100%;
}
.container-content .illustration-phones > img{
    position: relative;
    max-width: 100%;
    max-height: 450px;
    width: auto;
    height: auto;
}

.container-content .img-illustrator-laptop-desktop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-content .img-illustrator-laptop-desktop > img{
    position: relative;
    max-width: 100%;
    max-height: 700px;
    width: auto;
    height: auto;
    left: -14vw;

}

.container-content article:nth-child(3) section{
    display: flex;
    align-self: center;
}

.container-content article:nth-child(3) section div{
    align-self: flex-end;
}

.container-content footer{
    border-radius: 0px 70px 0px 0px;
    background-color: var(--very-dark-black-blue);
    height: 50vh;
}

.container-content .container-footer {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto; 
    width: 80%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: var(--white);
}

.container-content .container-footer ul {
    list-style-type: none;
}

.container-content .container-footer>ul>li{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-content .container-footer ul li {
    padding-top: 15px;
} 

.attribution{
    text-align: center;
    background-color: var(--very-light-red);
    color: var(--white);
}

.attribution a{
    text-decoration: none;
    color: var(--very-dark-black-blue);
    font-weight: bold;
}


@media only screen and (max-width: 376px) {
    .designed-for-the-future h1 {
        position: unset;
        margin-top: 60px;
    }
    .container-content article:first-child {
        display: flex;
        flex-direction: column-reverse;
    }
    .container-content .img-illustrator-editor > img {
        left: 0;
    }   
    .container-content  .designed-for-the-future h1 {
        text-align: center; 
        font-size: 1.2rem;
    }
    .container-content article:first-child section:last-child {
        position: unset;
    } 
    .container-content article:first-child  section:first-child div {
        margin: 0px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .container-content article  {
        display: flex;
        flex-direction: column;
        /* gap: 0; */
    }
    .container-content article  section{
        text-align: center;
    }
    .container-content article:nth-child(2) section {
        padding-right: 0px;
    }
    .container-content article:nth-child(2)  section p,
        .container-content article:nth-child(3)  section div p {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .container-content article:nth-child(2)  {
        height: 100%;
    }
    .container-content article:nth-child(2)  section:first-child div {
        margin: 0;
    }
    .container-content article:nth-child(3)  {
        height: 100%;
    }
    .container-content .img-illustrator-laptop-desktop > img {
        left: 0px;
    }
    .container-content footer {
        height: 100%;
    }
    .container-content .container-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding-bottom: 20px;
    }


    
}






